<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GHKFont.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C5710FDB1DE7BE37007639ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5710FF41DE7BE3E007639ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5710FFF1DE7BE40007639ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
